@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
    .Hero {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }
}
